*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D3E4CD;
  color: #000000;
  font-family: 'Ruluko', sans-serif;
}
.Header{
    letter-spacing: 3px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-style: bold;
    display: flex;
    flex-direction: column;
} 
.homepage-container{
  height: calc(100vh - 50px);
  width: 100%;
  color: #000000;
  padding: 50px ;
  display: flex;
  flex-direction: row;
}